body {
  margin: 0;
  padding: 0;
}
.container {
  text-align: center;
  background-image: url(../image/e.jpg);
  background-size: cover; 
  background-position: center center; /* Center the background image */
  background-attachment: fixed; /* Fix the background on scroll */
  color: #000;
  height: 100vh; /* Set the container to the full viewport height */
  font-family: 'Times New Roman', Times, serif;
  h1 {
    color: #000;
  }

  nav {
    background-color: white;
  
    width: 40%;
    position: relative;
    top: 0%;
    left: 30%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    ul {
      list-style: none;
      padding: 0;

      li {
        display: block; // Change to block for mobile
        margin: 10px 0; // Adjust margin for better spacing on mobile

        a {
          text-decoration: none;
          color: #333;
          font-weight: bold;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: color 0.3s ease;
          &:hover,
          &:active {
            color: #007bff;
          }

          &.active {
            background-color: #5d83ab;
            border: 1px solid #000000;
            margin: 1px;
          }
        }
      }
    }
  }

  // Media Query for Tablets
  @media (min-width: 768px) {
    nav {
      width: 75%; // Adjust width for tablets
      left: 12.5%; // Center the menu on tablets

      ul {
        li {
          display: inline-block; // Revert to inline-block for tablets
          margin: 0 15px;
        }
      }
    }
  }

  // Media Query for Laptops
  @media (min-width: 1024px) {
    nav {
      width: 50%; // Adjust width for laptops
      left: 25%; // Center the menu on laptops
    }
  }
}
