$primaryColor: #3498db;
$backgroundColor: #ecf0f1;
$evenRowColor: #f2f2f2;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.BrokerTable {
  margin-top: 20px;
  background-color: #f5f5f5;
  overflow-x: hidden;
  padding-bottom: 20px;
  h2 {
    color: $primaryColor;
  }

  .slider-item {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    h3 {
      color: $primaryColor;
      margin-bottom: 10px;
    }

    p {
      color: #333;
    }
  }

  .slick-dots li button:before {
    color: $primaryColor;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

    th, td {
      border: 1px solid $primaryColor;
      padding: 10px;
      color: #000000;
      text-align: left;
    }

    th {
      background-color: $primaryColor;
      color: #fff;
    }

    tr {
      &:nth-child(even) {
        background-color: $evenRowColor;
      }

      &:hover {
        background-color: lighten($evenRowColor, 5%);
      }
    }
  }

  // Responsive styling
  @media screen and (max-width: 768px) {
    table {
      th, td {
        font-size: 12px; // Adjust font size for smaller screens
        padding: 8px; // Adjust padding for smaller screens
      }

      th {
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 480px) {
    table {
      th, td {
        font-size: 10px; // Adjust font size for even smaller screens
        padding: 6px; // Adjust padding for even smaller screens
      }

      th {
        font-size: 12px;
      }
    }
  }
}
